body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #DFFDFD;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#root {
  height: 100%;
}

.ant-table-selection-column {
  width: 12%;
}

.ant-table-wrapper .ant-table-thead > tr > th,
.ant-table-wrapper .ant-table-tbody > tr > td {
  padding: 4px 4px;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.ant-calendar-picker:focus .ant-calendar-picker-input.ant-input:not(.ant-input-disabled) {
  border-color: #d9d9d9;
  box-shadow: none;
}

.ant-calendar-picker:hover .ant-calendar-picker-input.ant-input:not(.ant-input-disabled) {
  border-color: #d9d9d9;
  box-shadow: none;
}

body .ant-checkbox-checked .ant-checkbox-inner {
  border-color: #6A81DD;
  background-color: #6A81DD
}

body a {
  color: #6A81DD
}

body .ant-btn-primary {
  background-color: #6A81DD
}

body .ant-card-meta-detail > div:not(:last-child) {
  margin-bottom: 0;
}